.cabecalho {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  align-items: center;
}

.cabecalho__logo img {
  width: 148px;
}

.cabecalho__menu {
  display: flex;
  gap: 1rem;
}

.cabecalho__lang {
  background-color: #00000066;
  padding: 9px 23px;
  border-radius: 3px;
  border: 1px solid var(--cinza);
  color: var(--branco);
  font-weight: 500;
  font-size: 1rem;
  height: 2rem;

  display: flex;
  align-items: center;
  gap: 5px;
}

.cabecalho__lang__icon {
  font-size: 16px;
}

.cabecalho__lang__texto {
  margin: 0;
}

.cabecalho__lang__menu {
  text-align: center;
  border-radius: 0.5rem;
  padding: 0;
}

.cabecalho__lang__menu__item {
  text-decoration: none;
}

.cabecalho__lang__menu__item:nth-child(1) {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.cabecalho__lang__menu__item:nth-child(2) {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.cabecalho__lang__menu__item:hover {
  color: var(--branco);
  background-color: var(--azul);
}

.cabecalho__sign {
  background-color: red;
  text-decoration: none;
  color: var(--branco);
  padding: 2px 17px;
  border-radius: 3px;
  height: 2rem;
  font-weight: 600;
}

.cabecalho__sign:hover {
  background-color: darkred;
  color: var(--branco);
  text-decoration: none;
}

@media screen and (max-width: 675px) {
  .cabecalho {
    padding: 20px !important;
  }

  .cabecalho__lang__texto {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .cabecalho {
    padding-inline: 40px;
  }

  .cabecalho__logo img {
    width: 88px;
  }
}
